##################
##  POSTGRESQL  ##
##################

DB_SERVER_IPV4=127.0.0.1    # Specify the database server's IPv4 address
DB_SERVER_PORT=1234         # Specify the target PostgreSQL port
DATABASE_NAME=discord_bot   # Specify the name of the target database
DISCORD_USER=bot            # Specify the target database username
DISCORD_PASSWORD=password   # Specify the target database user password

###############
##  DISCORD  ##
###############

# Specify the Discord bot token
GATEWAY_TOKEN=
